.container {
  width: 1040px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  list-style: none;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
}
li {
  font-weight: 700;
}
.logo {
  width: 80px;
}
li:nth-child(3)::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  left: 800px;
  top: 55px;
}
li:nth-child(8) {
  color: rgb(32, 32, 77);
}
li:nth-child(8)::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue;
  left: 1457px;
  top: 55px;
}

/* MAIN */
.inner {
  display: flex;
  width: 900px;

  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.inner .content {
  width: 250px;
  margin: 10px;
}
.inner .content a {
  display: inline-block;
}
.inner .content a img {
  width: 200px;
  margin: 10px auto;
}
.inner .content a img:hover {
  transition: 1s;
  transform: scale(1.1);
  border-radius: 3px;
}

.inner .content .badge {
  width: 60px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(118, 116, 206);
  color: aliceblue;
  padding: 4px;
  margin: 10px 0;
}
.inner .content .title {
  font-weight: 700;
  margin-bottom: 7px;
}
.inner .content .text {
  color: rgb(119, 119, 119);
  margin-bottom: 7px;
}
.inner .content .etc {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
}
.inner .content .link {
  display: block;
  width: 200px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 27px;
  text-decoration: none;
  background-color: rgb(118, 116, 206);
  margin: auto;
  color: aliceblue;
}
